.DS_Store
node_modules/
dist/
build/
coverage/
.cache/
.eslintcache
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
**/.env
**/.env.*
.vscode/
.idea/
.turbo/
.pnpm-store/
tmp/
.tmp/
*.tsbuildinfo

