node_modules
dist
build
drizzle
drizzle/*
.env
.env.*
.DS_Store
coverage
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.eslintcache
.tsbuildinfo
tmp
.cache
